

body {
    padding: 10% 30% 10% 2 0%;
    background-color: rgb(235, 248, 144);
    font-family: 15px;
    font-family:Arial, Helvetica, sans-serif;   
}

input,
select {
    padding: 4px;
    width: 240px;
    max-width: 100%;
    font-size: 1.2em;
    margin-bottom: 10px;
}

label {
    display: inline-block;
    width: 45%;
}
/*
body,
input {
    font-family: sans-serif;
    font-size: 10px;
}
*/

button {
    padding: 6px;
    width: 220px;
    font-size: 1.2em;
    margin-left: 46%;
    border-radius: 5px 0 0 0;
    
}